@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #337555;
  --background-color: #fff;
  --border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 36px;
  line-height: 1.1;
}

h3 {
  font-size: 10px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: #fff;
  margin: 0 7px;
  padding: 3px 5px;
}

h4 {
  font-size: 24px;
}

/* Styling content */

.container {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.features {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 70px;
  margin: 20px;
}

.pricing-tables {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.table {
  width: 200px;
  height: 90%;
  border-radius: var(--border-radius);
  margin: 0 20px;
  padding: 13px 15px 38px;
  text-align: left;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
}

.table:nth-child(2) {
  background-color: var(--primary-color);
  height: 100%;
  width: 220px;
  color: #fff;
}

.table:nth-child(2) .table-heading {
  border-bottom: 1px solid var(--background-color);
}

.table:nth-child(2) .table-heading a {
  background: var(--background-color);
  color: var(--primary-color);
}

.table:nth-child(2) .table-heading h4 {
  color: var(--background-color);
}

.table .table-heading {
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 17px;
}

.table .table-heading span {
  display: block;
  font-size: 28px;
  font-weight: 500;
  margin-top: 10px;
}

.table .table-heading .btn {
  display: inline-block;
  margin-top: 7px;
  background: var(--primary-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 7px;
}

.table .table-content {
  margin-top: 30px;
}

.table .table-content ul li {
  margin-top: 12px;
}
/*Price toggle Button */

.switch {
  height: 50px;
  width: 100px;
  border: 10px solid rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2),
    0 0 10px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
.switch .switch-btn {
  height: 100%;
  width: 50%;
  border-radius: 50px;
  background-color: #337555;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.3),
    0 0 10px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
  left: 0%;
  transition: all 0.4s ease-in-out;
}
.switch .switch-btn:active {
  left: 50%;
}

/* Media queries */

@media (max-width: 1200px) {
  .container {
    height: auto;
  }
  .heading {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .heading .switch {
    margin-top: 30px;
  }
  .pricing-tables {
    margin: auto;
    width: 70%;
    align-items: center;
    flex-direction: column;
  }
  .table {
    margin-top: 50px;
  }
}
